PRETTY_NAME="{{ ansible_distribution }}"
NAME="{{ ansible_distribution }}"
VERSION_CODENAME="{{ ansible_distribution_release }}"
VERSION="{{ ansible_distribution_version }}"
ID="{{ ansible_distribution | lower }}"
